<a href="https://colab.research.google.com/github/JunHyeong-data/python-data-analysis-book-study/blob/main/ch03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 📘 CHAPTER 3: 내장 자료구조, 함수, 파일

- 이번 장에서는 파이썬 언어에 내장된 기본 기능들을 학습합니다.  
- 자료구조, 함수 정의 방법, 파일 처리 방법을 중심으로 구성되어 있습니다.

---

## 튜플
- 튜플은 한 번 할당되면 변경할 수 없는, 고정길이를 갖는 파이썬의 순차 자료형

In [ ]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [ ]:
tup1 = 4, 5, 6
tup1
# 다음과 같이 괄호를 생략할 수 있다.

(4, 5, 6)

In [ ]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [ ]:
tup[0]

's'

In [ ]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [ ]:
print(nested_tup[0])
nested_tup[1]

(4, 5, 6)

(7, 8)

In [ ]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False
# 튜플에 저장된 객체 자체는 변경이 가능하지만 한 번 생성되면 각 슬롯에 저장된 객체를 변경하는 것은 불가능

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [ ]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [ ]:
tup = (4, 5, 6)
a, b, c= tup
b

5

In [ ]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [ ]:
a, b = 1, 2
print(a)
print(b)
b, a = a, b
print(a)
b
# 파이썬에서는 다음과 같이 두 변수의 값을 바꿀 수 있다.

1
2
2

1

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')
# 튜플이나 리스트를 순회할 때도 흔히 이 기능 활용

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [ ]:
# 특수한 문법인 *rest를 사용하며 함수의 시그니처에서 길이를 알 수 없는 인수를 담기 위한 방법으로 사용
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a)
print(b)
print(rest)
a, b, *_ = values
# 위의 방식대로도 사용된다

1
2
[3, 4, 5]

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [ ]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [ ]:
b_list[1] = "peekaboo"
b_list
# 튜플과 대조적으로 리스트는 크기나 내용을 변경할 수 있다.

['foo', 'peekaboo', 'baz']

In [ ]:
gen = range(10)
gen
list(gen)
# list 함수는 이터레이터나 제너레이터 표현에서 실젯값을 모두 담기 위한 용도로도 사용

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
b_list.append("dwarf")
b_list
# append 메서드를 사용하면 리스트의 끝에 새로운 값을 추가 가능하다.

['foo', 'peekaboo', 'baz', 'dwarf']

In [ ]:
b_list.insert(1, "red")
b_list
# insert 메서드를 사용하면 리스트의 특정 위치에 값을 추가 가능하다.

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [ ]:
b_list.pop(2)
b_list
# insert의 반대 개념으로 pop 메서드가 있다.

['foo', 'red', 'baz', 'dwarf']

In [ ]:
b_list.append("foo")
b_list
b_list.remove("foo")
b_list

['red', 'baz', 'dwarf', 'foo']

In [ ]:
"dwarf" in b_list

True

In [ ]:
"dwarf" not in b_list

False

In [ ]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [ ]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [ ]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [ ]:
print(seq[:5])
seq[3:]

[7, 2, 3, 6, 3]

[6, 3, 6, 0, 1]

In [ ]:
seq[-4:]
seq[-6:-2]

[3, 6, 3, 6]

In [ ]:
seq[::2]

[7, 3, 3, 0]

### 딕셔너리(dict)는 파이썬 내장 자료구조 중에서 가장 중요한 자료구조이다. 다른 프로그래밍 언어에서는 해시 맵, 또는 연관 배열이라 알려져 있다. 딕셔너리는 키-값쌍을 저장하며 키와 값은 모두 파이썬 객체다. 각 키는 값과 연관되어 특정 키가 주어지면 값을 편리하게 검색, 삽입, 수정 또는 삭제할 수 있다.

In [ ]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [ ]:
d1[7] = "an integer"
print(d1)
d1["b"]

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

[1, 2, 3, 4]

In [ ]:
"b" in d1

True

In [ ]:
d1[5] = "some value"
print(d1)
d1["dummy"] = "another value"
print(d1)
del d1[5]
print(d1)
ret = d1.pop("dummy")
print(ret)
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}
another value
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [ ]:
print(list(d1.keys()))
list(d1.values())

['a', 'b', 7]

['some value', [1, 2, 3, 4], 'an integer']

In [ ]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [ ]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [ ]:
tuples = zip(range(5), reversed(range(5)))
tuples
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [ ]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [ ]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter
# 딕셔너리의 setdefault 메서드가 바로 이 목적으로 사용
# 위 코드의 if-else 블록을 다음처럼 작성 가능

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [ ]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [ ]:
print(hash("string"))
print(hash((1, 2, (2, 3))))
# 키는 정수, 실수, 문자나 튜플처럼 값이 바뀌지 않는 객체만 가능, 기술적으로 해시가 가능해야 한다는 뜻
hash((1, 2, [2, 3])) # fails because lists are mutable

-7339764908059949856
-9209053662355515447

TypeError: unhashable type: 'list'

In [ ]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### 집합(set)은 고유한 원소만 담는 정렬되지 않은 자료형이다. 집합은 두 가지 방법으로 생성할 수 있으며 set함수를 이용하거나 중괄호({})를 이용해서 생성될 수 있다.

In [ ]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [ ]:
a.union(b)
a | b
# 합집합

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a.intersection(b)
a & b
# 교집합

{3, 4, 5}

In [ ]:
c = a.copy()
c |= b
print(c)
d = a.copy()
d &= b
print(d)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [ ]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [ ]:
{1, 2, 3} == {3, 2, 1}
# 만일 집합의 내용이 같다면 두 집합은 동일하다.

True

In [ ]:
print(sorted([7, 1, 2, 6, 0, 3, 2]))
sorted("horse race")

[0, 1, 2, 2, 3, 6, 7]

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [ ]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [ ]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [ ]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [ ]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### 리스트 컴프리헨션은 파이썬 언어에서 가장 사랑받는 기능 중 하나다. 이를 이용하면 간결한 표현으로 새로운 리스트를 만들 수 있다.

In [ ]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [ ]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [ ]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [ ]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [ ]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [ ]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

In [ ]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
def my_function(x, y):
    return x + y

In [ ]:
my_function(1, 2)
result = my_function(1, 2)
result

3

In [ ]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

In [ ]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [ ]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

45.0

In [ ]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [ ]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [ ]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [ ]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [ ]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [ ]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [ ]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [ ]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [ ]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [ ]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [ ]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### 제너레이터
많은 파이썬 객체는 리스트 내의 객체나 파일의 각 행 같은 순차적인 자료를 순회하는 방법을 제공한다. 이터레이터 프로토콜을 이용해 순회 가능한 객체를 만들 수 있다. 예를 들어 딕셔너리를 순회하면다음과 같이 딕셔너리 키가 반환된다.

In [ ]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)
# for key in some_dict를 작성하면 파이썬 인터프리터는 some_dict에서 이터레이터를 생성한다.

a
b
c

In [ ]:
dict_iterator = iter(some_dict)
dict_iterator
# 이터레이터는 for 문 같은 컨텍스트에서 사용될 경우 객체를 반환한다.

In [ ]:
list(dict_iterator)

['a', 'b', 'c']

### 제너레이터
제너레이터는 순회가 가능한 객체를 생성하는 간단한 방법이다. 일반 함수는 실행 시 단일 값을 반환하는 반면 제너레이터는 제너레이터를 사용할 때마다 실행을 중지했다가 다시 시작하며 순차적인 값을 반환

In [ ]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [ ]:
gen = squares()
gen
# 제너레이터를 호출하면 코드가 즉각적으로 실행되지는 않는다

In [ ]:
for x in gen:
  print(x)

Generating squares from 1 to 100
1
4
9
16
25
36
49
64
81
100

### 제너레이터 표현식
제너레이터를 생성하는 더 간단한 방법은 제너레이터 표현식을 사용하는 것이다.

In [ ]:
gen = (x ** 2 for x in range(100))
gen

def _make_gen():
  for x in range(100):
    yield x ** 2
gen = _make_gen()
# 위 코드와 동일한 코드이다

In [ ]:
sum(x ** 2 for x in range(100))

328350

In [ ]:
dict((i, i ** 2) for i in range(5))
#함수의 인수로 리스트 표현식을 사용하는 대신 제너레이터 표현식을 사용할 수 있다.

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### 오류와 예외 처리
견고한 프로그램을 작성하려면 파이썬의 오류나 예외를 잘 처리해야 한다.

In [ ]:
float("1.2345")
float("something")

ValueError: could not convert string to float: 'something'

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
attempt_float("1.2345")

1.2345

In [ ]:
attempt_float("something")

'something'

In [ ]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x
attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x
attempt_float((1, 2))

(1, 2)

## 파일과 운영체제
- 이 책은 대부분 pandas.read_csv 같은 고수준의 도구를 사용해서 디스크로부터 데이터파일을 읽어와 파이썬 자료구조에 저장한다.
- 파이썬에서 파일을 읽어와 처리하는 방식이 매우 쉽다는 점이 파이썬의 인기 요인
- 파일을 읽고 쓰기 위해선 내장 함수인 open을 이용해서 파일의 상대 경로나 절대 경로를 넘겨주어야 한다.

In [41]:
path = "/content/drive/MyDrive/Colab Notebooks/pydata-book-3rd-edition/examples/segismundo.txt"
f = open(path, encoding="utf-8")
for line in f:
  print(line)

Sueña el rico en su riqueza,

que más cuidados le ofrece;



sueña el pobre que padece

su miseria y su pobreza;



sueña el que a medrar empieza,

sueña el que afana y pretende,

sueña el que agravia y ofende,



y en el mundo, en conclusión,

todos sueñan lo que son,

aunque ninguno lo entiende.

In [42]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

파일 객체를 생성하기 위해 open을 사용했다면 작업이 끝났을 때 명시적으로 닫아야 한다. 파일을 닫으면 해당 자원을 운영체제로 되돌려준다.

In [43]:
f.close()

with문을 사용하면 파일 작업이 끝났을 때 필요한 작업을 쉽게 처리할 수 있다.

In [45]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

- with 블록이 끝나는 시점에서 파일 핸들 f가 자동으로 닫힌다
- 만일 파일을 f = open(path, 'w')로 연다면 examples/segismundo.txt 파일이 새롭게 생성되고 파일의 내용을 새로운 내용으로 덮어 쓴다.
- 파일을 읽을 때는 read, seek, tell 메서드를 주로 사용하며 read 메서드는 해당 파일에서 특정 개수만큼의 문자를 반환한다.

In [52]:
f1 = open(path)
f1.read(10)

'Sueña el r'

In [53]:
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [54]:
print(f1.tell())
f2.tell()

11

10

In [55]:
import sys
sys.getdefaultencoding()
# 플랫폼에 상관없는 일관된 동작을 위해서는 파일을 열 때 인코딩(encoding='utf-8')을 넘겨주는 것이 가장 좋다.

'utf-8'

In [56]:
# seek 메서드는 파일 핸들의 위치를 해당 파일에서 지정한 바이트 위치로 옮긴다.
f1.seek(3)
f1.read(1)
f1.tell()
# tell 메서드는 현재 파일 객체의 읽기/쓰기 위치를 반환하는 메서드

5

In [57]:
f1.close()
f2.close()

In [59]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [60]:
import os
os.remove("tmp.txt")

In [62]:
with open(path) as f:
    chars = f.read(10)

print(chars)
len(chars)

Sueña el r

10

In [63]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

b'Sue\xc3\xb1a el '

In [64]:
data.decode("utf-8")

'Sueña el '

In [66]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

FileExistsError: [Errno 17] File exists: 'sink.txt'

In [67]:
os.remove(sink_path)

In [68]:
f = open(path, encoding='utf-8')
f.read(5)
f.seek(4)
f.read(1)
f.close()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

## 3.4 마치며
이제 기본적인 내용은 모두 습득했다. 다음 장에서는 넘파이를 알아보고 파이썬에서 배열 기반 연산을 하는 방법에 대해 배워보자