<a href="https://colab.research.google.com/github/JunHyeong-data/python-data-analysis-book-study/blob/main/ch03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ğŸ“˜ CHAPTER 3: ë‚´ì¥ ìë£Œêµ¬ì¡°, í•¨ìˆ˜, íŒŒì¼

- ì´ë²ˆ ì¥ì—ì„œëŠ” íŒŒì´ì¬ ì–¸ì–´ì— ë‚´ì¥ëœ ê¸°ë³¸ ê¸°ëŠ¥ë“¤ì„ í•™ìŠµí•©ë‹ˆë‹¤.  
- ìë£Œêµ¬ì¡°, í•¨ìˆ˜ ì •ì˜ ë°©ë²•, íŒŒì¼ ì²˜ë¦¬ ë°©ë²•ì„ ì¤‘ì‹¬ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ ìˆìŠµë‹ˆë‹¤.

---

## íŠœí”Œ
- íŠœí”Œì€ í•œ ë²ˆ í• ë‹¹ë˜ë©´ ë³€ê²½í•  ìˆ˜ ì—†ëŠ”, ê³ ì •ê¸¸ì´ë¥¼ ê°–ëŠ” íŒŒì´ì¬ì˜ ìˆœì°¨ ìë£Œí˜•

In [ ]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [ ]:
tup1 = 4, 5, 6
tup1
# ë‹¤ìŒê³¼ ê°™ì´ ê´„í˜¸ë¥¼ ìƒëµí•  ìˆ˜ ìˆë‹¤.

(4, 5, 6)

In [ ]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [ ]:
tup[0]

's'

In [ ]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [ ]:
print(nested_tup[0])
nested_tup[1]

(4, 5, 6)

(7, 8)

In [ ]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False
# íŠœí”Œì— ì €ì¥ëœ ê°ì²´ ìì²´ëŠ” ë³€ê²½ì´ ê°€ëŠ¥í•˜ì§€ë§Œ í•œ ë²ˆ ìƒì„±ë˜ë©´ ê° ìŠ¬ë¡¯ì— ì €ì¥ëœ ê°ì²´ë¥¼ ë³€ê²½í•˜ëŠ” ê²ƒì€ ë¶ˆê°€ëŠ¥

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [ ]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [ ]:
tup = (4, 5, 6)
a, b, c= tup
b

5

In [ ]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [ ]:
a, b = 1, 2
print(a)
print(b)
b, a = a, b
print(a)
b
# íŒŒì´ì¬ì—ì„œëŠ” ë‹¤ìŒê³¼ ê°™ì´ ë‘ ë³€ìˆ˜ì˜ ê°’ì„ ë°”ê¿€ ìˆ˜ ìˆë‹¤.

1
2
2

1

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')
# íŠœí”Œì´ë‚˜ ë¦¬ìŠ¤íŠ¸ë¥¼ ìˆœíšŒí•  ë•Œë„ í”íˆ ì´ ê¸°ëŠ¥ í™œìš©

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [ ]:
# íŠ¹ìˆ˜í•œ ë¬¸ë²•ì¸ *restë¥¼ ì‚¬ìš©í•˜ë©° í•¨ìˆ˜ì˜ ì‹œê·¸ë‹ˆì²˜ì—ì„œ ê¸¸ì´ë¥¼ ì•Œ ìˆ˜ ì—†ëŠ” ì¸ìˆ˜ë¥¼ ë‹´ê¸° ìœ„í•œ ë°©ë²•ìœ¼ë¡œ ì‚¬ìš©
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a)
print(b)
print(rest)
a, b, *_ = values
# ìœ„ì˜ ë°©ì‹ëŒ€ë¡œë„ ì‚¬ìš©ëœë‹¤

1
2
[3, 4, 5]

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [ ]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [ ]:
b_list[1] = "peekaboo"
b_list
# íŠœí”Œê³¼ ëŒ€ì¡°ì ìœ¼ë¡œ ë¦¬ìŠ¤íŠ¸ëŠ” í¬ê¸°ë‚˜ ë‚´ìš©ì„ ë³€ê²½í•  ìˆ˜ ìˆë‹¤.

['foo', 'peekaboo', 'baz']

In [ ]:
gen = range(10)
gen
list(gen)
# list í•¨ìˆ˜ëŠ” ì´í„°ë ˆì´í„°ë‚˜ ì œë„ˆë ˆì´í„° í‘œí˜„ì—ì„œ ì‹¤ì ¯ê°’ì„ ëª¨ë‘ ë‹´ê¸° ìœ„í•œ ìš©ë„ë¡œë„ ì‚¬ìš©

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
b_list.append("dwarf")
b_list
# append ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ë©´ ë¦¬ìŠ¤íŠ¸ì˜ ëì— ìƒˆë¡œìš´ ê°’ì„ ì¶”ê°€ ê°€ëŠ¥í•˜ë‹¤.

['foo', 'peekaboo', 'baz', 'dwarf']

In [ ]:
b_list.insert(1, "red")
b_list
# insert ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ë©´ ë¦¬ìŠ¤íŠ¸ì˜ íŠ¹ì • ìœ„ì¹˜ì— ê°’ì„ ì¶”ê°€ ê°€ëŠ¥í•˜ë‹¤.

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [ ]:
b_list.pop(2)
b_list
# insertì˜ ë°˜ëŒ€ ê°œë…ìœ¼ë¡œ pop ë©”ì„œë“œê°€ ìˆë‹¤.

['foo', 'red', 'baz', 'dwarf']

In [ ]:
b_list.append("foo")
b_list
b_list.remove("foo")
b_list

['red', 'baz', 'dwarf', 'foo']

In [ ]:
"dwarf" in b_list

True

In [ ]:
"dwarf" not in b_list

False

In [ ]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [ ]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [ ]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [ ]:
print(seq[:5])
seq[3:]

[7, 2, 3, 6, 3]

[6, 3, 6, 0, 1]

In [ ]:
seq[-4:]
seq[-6:-2]

[3, 6, 3, 6]

In [ ]:
seq[::2]

[7, 3, 3, 0]

### ë”•ì…”ë„ˆë¦¬(dict)ëŠ” íŒŒì´ì¬ ë‚´ì¥ ìë£Œêµ¬ì¡° ì¤‘ì—ì„œ ê°€ì¥ ì¤‘ìš”í•œ ìë£Œêµ¬ì¡°ì´ë‹¤. ë‹¤ë¥¸ í”„ë¡œê·¸ë˜ë° ì–¸ì–´ì—ì„œëŠ” í•´ì‹œ ë§µ, ë˜ëŠ” ì—°ê´€ ë°°ì—´ì´ë¼ ì•Œë ¤ì ¸ ìˆë‹¤. ë”•ì…”ë„ˆë¦¬ëŠ” í‚¤-ê°’ìŒì„ ì €ì¥í•˜ë©° í‚¤ì™€ ê°’ì€ ëª¨ë‘ íŒŒì´ì¬ ê°ì²´ë‹¤. ê° í‚¤ëŠ” ê°’ê³¼ ì—°ê´€ë˜ì–´ íŠ¹ì • í‚¤ê°€ ì£¼ì–´ì§€ë©´ ê°’ì„ í¸ë¦¬í•˜ê²Œ ê²€ìƒ‰, ì‚½ì…, ìˆ˜ì • ë˜ëŠ” ì‚­ì œí•  ìˆ˜ ìˆë‹¤.

In [ ]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [ ]:
d1[7] = "an integer"
print(d1)
d1["b"]

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

[1, 2, 3, 4]

In [ ]:
"b" in d1

True

In [ ]:
d1[5] = "some value"
print(d1)
d1["dummy"] = "another value"
print(d1)
del d1[5]
print(d1)
ret = d1.pop("dummy")
print(ret)
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}
another value
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [ ]:
print(list(d1.keys()))
list(d1.values())

['a', 'b', 7]

['some value', [1, 2, 3, 4], 'an integer']

In [ ]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [ ]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [ ]:
tuples = zip(range(5), reversed(range(5)))
tuples
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [ ]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [ ]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter
# ë”•ì…”ë„ˆë¦¬ì˜ setdefault ë©”ì„œë“œê°€ ë°”ë¡œ ì´ ëª©ì ìœ¼ë¡œ ì‚¬ìš©
# ìœ„ ì½”ë“œì˜ if-else ë¸”ë¡ì„ ë‹¤ìŒì²˜ëŸ¼ ì‘ì„± ê°€ëŠ¥

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [ ]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [ ]:
print(hash("string"))
print(hash((1, 2, (2, 3))))
# í‚¤ëŠ” ì •ìˆ˜, ì‹¤ìˆ˜, ë¬¸ìë‚˜ íŠœí”Œì²˜ëŸ¼ ê°’ì´ ë°”ë€Œì§€ ì•ŠëŠ” ê°ì²´ë§Œ ê°€ëŠ¥, ê¸°ìˆ ì ìœ¼ë¡œ í•´ì‹œê°€ ê°€ëŠ¥í•´ì•¼ í•œë‹¤ëŠ” ëœ»
hash((1, 2, [2, 3])) # fails because lists are mutable

-7339764908059949856
-9209053662355515447

TypeError: unhashable type: 'list'

In [ ]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### ì§‘í•©(set)ì€ ê³ ìœ í•œ ì›ì†Œë§Œ ë‹´ëŠ” ì •ë ¬ë˜ì§€ ì•Šì€ ìë£Œí˜•ì´ë‹¤. ì§‘í•©ì€ ë‘ ê°€ì§€ ë°©ë²•ìœ¼ë¡œ ìƒì„±í•  ìˆ˜ ìˆìœ¼ë©° setí•¨ìˆ˜ë¥¼ ì´ìš©í•˜ê±°ë‚˜ ì¤‘ê´„í˜¸({})ë¥¼ ì´ìš©í•´ì„œ ìƒì„±ë  ìˆ˜ ìˆë‹¤.

In [ ]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [ ]:
a.union(b)
a | b
# í•©ì§‘í•©

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a.intersection(b)
a & b
# êµì§‘í•©

{3, 4, 5}

In [ ]:
c = a.copy()
c |= b
print(c)
d = a.copy()
d &= b
print(d)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [ ]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [ ]:
{1, 2, 3} == {3, 2, 1}
# ë§Œì¼ ì§‘í•©ì˜ ë‚´ìš©ì´ ê°™ë‹¤ë©´ ë‘ ì§‘í•©ì€ ë™ì¼í•˜ë‹¤.

True

In [ ]:
print(sorted([7, 1, 2, 6, 0, 3, 2]))
sorted("horse race")

[0, 1, 2, 2, 3, 6, 7]

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [ ]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [ ]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [ ]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [ ]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### ë¦¬ìŠ¤íŠ¸ ì»´í”„ë¦¬í—¨ì…˜ì€ íŒŒì´ì¬ ì–¸ì–´ì—ì„œ ê°€ì¥ ì‚¬ë‘ë°›ëŠ” ê¸°ëŠ¥ ì¤‘ í•˜ë‚˜ë‹¤. ì´ë¥¼ ì´ìš©í•˜ë©´ ê°„ê²°í•œ í‘œí˜„ìœ¼ë¡œ ìƒˆë¡œìš´ ë¦¬ìŠ¤íŠ¸ë¥¼ ë§Œë“¤ ìˆ˜ ìˆë‹¤.

In [ ]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [ ]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [ ]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [ ]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [ ]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [ ]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

In [ ]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
def my_function(x, y):
    return x + y

In [ ]:
my_function(1, 2)
result = my_function(1, 2)
result

3

In [ ]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

In [ ]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [ ]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

45.0

In [ ]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [ ]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [ ]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [ ]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [ ]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [ ]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [ ]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [ ]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [ ]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [ ]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [ ]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### ì œë„ˆë ˆì´í„°
ë§ì€ íŒŒì´ì¬ ê°ì²´ëŠ” ë¦¬ìŠ¤íŠ¸ ë‚´ì˜ ê°ì²´ë‚˜ íŒŒì¼ì˜ ê° í–‰ ê°™ì€ ìˆœì°¨ì ì¸ ìë£Œë¥¼ ìˆœíšŒí•˜ëŠ” ë°©ë²•ì„ ì œê³µí•œë‹¤. ì´í„°ë ˆì´í„° í”„ë¡œí† ì½œì„ ì´ìš©í•´ ìˆœíšŒ ê°€ëŠ¥í•œ ê°ì²´ë¥¼ ë§Œë“¤ ìˆ˜ ìˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´ ë”•ì…”ë„ˆë¦¬ë¥¼ ìˆœíšŒí•˜ë©´ë‹¤ìŒê³¼ ê°™ì´ ë”•ì…”ë„ˆë¦¬ í‚¤ê°€ ë°˜í™˜ëœë‹¤.

In [ ]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)
# for key in some_dictë¥¼ ì‘ì„±í•˜ë©´ íŒŒì´ì¬ ì¸í„°í”„ë¦¬í„°ëŠ” some_dictì—ì„œ ì´í„°ë ˆì´í„°ë¥¼ ìƒì„±í•œë‹¤.

a
b
c

In [ ]:
dict_iterator = iter(some_dict)
dict_iterator
# ì´í„°ë ˆì´í„°ëŠ” for ë¬¸ ê°™ì€ ì»¨í…ìŠ¤íŠ¸ì—ì„œ ì‚¬ìš©ë  ê²½ìš° ê°ì²´ë¥¼ ë°˜í™˜í•œë‹¤.

In [ ]:
list(dict_iterator)

['a', 'b', 'c']

### ì œë„ˆë ˆì´í„°
ì œë„ˆë ˆì´í„°ëŠ” ìˆœíšŒê°€ ê°€ëŠ¥í•œ ê°ì²´ë¥¼ ìƒì„±í•˜ëŠ” ê°„ë‹¨í•œ ë°©ë²•ì´ë‹¤. ì¼ë°˜ í•¨ìˆ˜ëŠ” ì‹¤í–‰ ì‹œ ë‹¨ì¼ ê°’ì„ ë°˜í™˜í•˜ëŠ” ë°˜ë©´ ì œë„ˆë ˆì´í„°ëŠ” ì œë„ˆë ˆì´í„°ë¥¼ ì‚¬ìš©í•  ë•Œë§ˆë‹¤ ì‹¤í–‰ì„ ì¤‘ì§€í–ˆë‹¤ê°€ ë‹¤ì‹œ ì‹œì‘í•˜ë©° ìˆœì°¨ì ì¸ ê°’ì„ ë°˜í™˜

In [ ]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [ ]:
gen = squares()
gen
# ì œë„ˆë ˆì´í„°ë¥¼ í˜¸ì¶œí•˜ë©´ ì½”ë“œê°€ ì¦‰ê°ì ìœ¼ë¡œ ì‹¤í–‰ë˜ì§€ëŠ” ì•ŠëŠ”ë‹¤

In [ ]:
for x in gen:
  print(x)

Generating squares from 1 to 100
1
4
9
16
25
36
49
64
81
100

### ì œë„ˆë ˆì´í„° í‘œí˜„ì‹
ì œë„ˆë ˆì´í„°ë¥¼ ìƒì„±í•˜ëŠ” ë” ê°„ë‹¨í•œ ë°©ë²•ì€ ì œë„ˆë ˆì´í„° í‘œí˜„ì‹ì„ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ë‹¤.

In [ ]:
gen = (x ** 2 for x in range(100))
gen

def _make_gen():
  for x in range(100):
    yield x ** 2
gen = _make_gen()
# ìœ„ ì½”ë“œì™€ ë™ì¼í•œ ì½”ë“œì´ë‹¤

In [ ]:
sum(x ** 2 for x in range(100))

328350

In [ ]:
dict((i, i ** 2) for i in range(5))
#í•¨ìˆ˜ì˜ ì¸ìˆ˜ë¡œ ë¦¬ìŠ¤íŠ¸ í‘œí˜„ì‹ì„ ì‚¬ìš©í•˜ëŠ” ëŒ€ì‹  ì œë„ˆë ˆì´í„° í‘œí˜„ì‹ì„ ì‚¬ìš©í•  ìˆ˜ ìˆë‹¤.

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### ì˜¤ë¥˜ì™€ ì˜ˆì™¸ ì²˜ë¦¬
ê²¬ê³ í•œ í”„ë¡œê·¸ë¨ì„ ì‘ì„±í•˜ë ¤ë©´ íŒŒì´ì¬ì˜ ì˜¤ë¥˜ë‚˜ ì˜ˆì™¸ë¥¼ ì˜ ì²˜ë¦¬í•´ì•¼ í•œë‹¤.

In [ ]:
float("1.2345")
float("something")

ValueError: could not convert string to float: 'something'

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
attempt_float("1.2345")

1.2345

In [ ]:
attempt_float("something")

'something'

In [ ]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x
attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x
attempt_float((1, 2))

(1, 2)

## íŒŒì¼ê³¼ ìš´ì˜ì²´ì œ
- ì´ ì±…ì€ ëŒ€ë¶€ë¶„ pandas.read_csv ê°™ì€ ê³ ìˆ˜ì¤€ì˜ ë„êµ¬ë¥¼ ì‚¬ìš©í•´ì„œ ë””ìŠ¤í¬ë¡œë¶€í„° ë°ì´í„°íŒŒì¼ì„ ì½ì–´ì™€ íŒŒì´ì¬ ìë£Œêµ¬ì¡°ì— ì €ì¥í•œë‹¤.
- íŒŒì´ì¬ì—ì„œ íŒŒì¼ì„ ì½ì–´ì™€ ì²˜ë¦¬í•˜ëŠ” ë°©ì‹ì´ ë§¤ìš° ì‰½ë‹¤ëŠ” ì ì´ íŒŒì´ì¬ì˜ ì¸ê¸° ìš”ì¸
- íŒŒì¼ì„ ì½ê³  ì“°ê¸° ìœ„í•´ì„  ë‚´ì¥ í•¨ìˆ˜ì¸ openì„ ì´ìš©í•´ì„œ íŒŒì¼ì˜ ìƒëŒ€ ê²½ë¡œë‚˜ ì ˆëŒ€ ê²½ë¡œë¥¼ ë„˜ê²¨ì£¼ì–´ì•¼ í•œë‹¤.

In [41]:
path = "/content/drive/MyDrive/Colab Notebooks/pydata-book-3rd-edition/examples/segismundo.txt"
f = open(path, encoding="utf-8")
for line in f:
  print(line)

SueÃ±a el rico en su riqueza,

que mÃ¡s cuidados le ofrece;



sueÃ±a el pobre que padece

su miseria y su pobreza;



sueÃ±a el que a medrar empieza,

sueÃ±a el que afana y pretende,

sueÃ±a el que agravia y ofende,



y en el mundo, en conclusiÃ³n,

todos sueÃ±an lo que son,

aunque ninguno lo entiende.

In [42]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

['SueÃ±a el rico en su riqueza,',
 'que mÃ¡s cuidados le ofrece;',
 '',
 'sueÃ±a el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueÃ±a el que a medrar empieza,',
 'sueÃ±a el que afana y pretende,',
 'sueÃ±a el que agravia y ofende,',
 '',
 'y en el mundo, en conclusiÃ³n,',
 'todos sueÃ±an lo que son,',
 'aunque ninguno lo entiende.',
 '']

íŒŒì¼ ê°ì²´ë¥¼ ìƒì„±í•˜ê¸° ìœ„í•´ openì„ ì‚¬ìš©í–ˆë‹¤ë©´ ì‘ì—…ì´ ëë‚¬ì„ ë•Œ ëª…ì‹œì ìœ¼ë¡œ ë‹«ì•„ì•¼ í•œë‹¤. íŒŒì¼ì„ ë‹«ìœ¼ë©´ í•´ë‹¹ ìì›ì„ ìš´ì˜ì²´ì œë¡œ ë˜ëŒë ¤ì¤€ë‹¤.

In [43]:
f.close()

withë¬¸ì„ ì‚¬ìš©í•˜ë©´ íŒŒì¼ ì‘ì—…ì´ ëë‚¬ì„ ë•Œ í•„ìš”í•œ ì‘ì—…ì„ ì‰½ê²Œ ì²˜ë¦¬í•  ìˆ˜ ìˆë‹¤.

In [45]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]
lines

['SueÃ±a el rico en su riqueza,',
 'que mÃ¡s cuidados le ofrece;',
 '',
 'sueÃ±a el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueÃ±a el que a medrar empieza,',
 'sueÃ±a el que afana y pretende,',
 'sueÃ±a el que agravia y ofende,',
 '',
 'y en el mundo, en conclusiÃ³n,',
 'todos sueÃ±an lo que son,',
 'aunque ninguno lo entiende.',
 '']

- with ë¸”ë¡ì´ ëë‚˜ëŠ” ì‹œì ì—ì„œ íŒŒì¼ í•¸ë“¤ fê°€ ìë™ìœ¼ë¡œ ë‹«íŒë‹¤
- ë§Œì¼ íŒŒì¼ì„ f = open(path, 'w')ë¡œ ì—°ë‹¤ë©´ examples/segismundo.txt íŒŒì¼ì´ ìƒˆë¡­ê²Œ ìƒì„±ë˜ê³  íŒŒì¼ì˜ ë‚´ìš©ì„ ìƒˆë¡œìš´ ë‚´ìš©ìœ¼ë¡œ ë®ì–´ ì“´ë‹¤.
- íŒŒì¼ì„ ì½ì„ ë•ŒëŠ” read, seek, tell ë©”ì„œë“œë¥¼ ì£¼ë¡œ ì‚¬ìš©í•˜ë©° read ë©”ì„œë“œëŠ” í•´ë‹¹ íŒŒì¼ì—ì„œ íŠ¹ì • ê°œìˆ˜ë§Œí¼ì˜ ë¬¸ìë¥¼ ë°˜í™˜í•œë‹¤.

In [52]:
f1 = open(path)
f1.read(10)

'SueÃ±a el r'

In [53]:
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [54]:
print(f1.tell())
f2.tell()

11

10

In [55]:
import sys
sys.getdefaultencoding()
# í”Œë«í¼ì— ìƒê´€ì—†ëŠ” ì¼ê´€ëœ ë™ì‘ì„ ìœ„í•´ì„œëŠ” íŒŒì¼ì„ ì—´ ë•Œ ì¸ì½”ë”©(encoding='utf-8')ì„ ë„˜ê²¨ì£¼ëŠ” ê²ƒì´ ê°€ì¥ ì¢‹ë‹¤.

'utf-8'

In [56]:
# seek ë©”ì„œë“œëŠ” íŒŒì¼ í•¸ë“¤ì˜ ìœ„ì¹˜ë¥¼ í•´ë‹¹ íŒŒì¼ì—ì„œ ì§€ì •í•œ ë°”ì´íŠ¸ ìœ„ì¹˜ë¡œ ì˜®ê¸´ë‹¤.
f1.seek(3)
f1.read(1)
f1.tell()
# tell ë©”ì„œë“œëŠ” í˜„ì¬ íŒŒì¼ ê°ì²´ì˜ ì½ê¸°/ì“°ê¸° ìœ„ì¹˜ë¥¼ ë°˜í™˜í•˜ëŠ” ë©”ì„œë“œ

5

In [57]:
f1.close()
f2.close()

In [59]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

['SueÃ±a el rico en su riqueza,\n',
 'que mÃ¡s cuidados le ofrece;\n',
 'sueÃ±a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueÃ±a el que a medrar empieza,\n',
 'sueÃ±a el que afana y pretende,\n',
 'sueÃ±a el que agravia y ofende,\n',
 'y en el mundo, en conclusiÃ³n,\n',
 'todos sueÃ±an lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [60]:
import os
os.remove("tmp.txt")

In [62]:
with open(path) as f:
    chars = f.read(10)

print(chars)
len(chars)

SueÃ±a el r

10

In [63]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

b'Sue\xc3\xb1a el '

In [64]:
data.decode("utf-8")

'SueÃ±a el '

In [66]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

FileExistsError: [Errno 17] File exists: 'sink.txt'

In [67]:
os.remove(sink_path)

In [68]:
f = open(path, encoding='utf-8')
f.read(5)
f.seek(4)
f.read(1)
f.close()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

## 3.4 ë§ˆì¹˜ë©°
ì´ì œ ê¸°ë³¸ì ì¸ ë‚´ìš©ì€ ëª¨ë‘ ìŠµë“í–ˆë‹¤. ë‹¤ìŒ ì¥ì—ì„œëŠ” ë„˜íŒŒì´ë¥¼ ì•Œì•„ë³´ê³  íŒŒì´ì¬ì—ì„œ ë°°ì—´ ê¸°ë°˜ ì—°ì‚°ì„ í•˜ëŠ” ë°©ë²•ì— ëŒ€í•´ ë°°ì›Œë³´ì